<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <TargetFramework>net8.0-windows</TargetFramework>
  </PropertyGroup>
</Project>
